import * as React from 'react'

class {{properCase name}} extends React.Component <any,any> {
    render() {
        return (
            <div></div>
        )
    }
}

export default {{properCase name}}
